/*** Fonts ***/
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*** General rules ***/

html {
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.flex {
	display: flex;
	align-items: center;
}

a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*** Custom CSS ***/

/* Navbar (used on all pages!) */

header {
	background-color: #000000;
	height: 3.875rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

#brand {
	margin: 0 auto 0 3.6875rem;
}

#brand-mobile {
	display: none;
}

header nav ul {
	margin-right: 3.4375rem;
}

header nav ul li {
	padding-right: 1rem;
}

header nav ul li a {
	font-family: "Open Sans", sans-serif;
}

.active {
	color: #f5a623;
}

/***** HOME PAGE *****/
/* Banner-Home */

#banner-home {
	align-items: center;
	justify-content: center;
	background-image: url('../images/dancers-photo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 3.875rem;
	text-align: center;
}

#banner-home .banner-text {
	margin-top: 9.4375rem;
	margin-bottom: 3.125rem;
	width: 45rem;
}

#banner-home h1 {
	font-size: 3.125rem;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 2.6875rem;
}

#banner-home p {
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 5rem;

}

#banner-home a {
	border-radius: 2px;
	background-color: #f5a623;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: 1.375rem;
	padding: 1.25rem 3.125rem;
}

/* Banner Two Home */

#banner-two-home {
	align-items: flex-end;
	justify-content: flex-end;
	background-image: url('../images/graffiti-photo.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Sub banner Home*/
.sub-banner .banner-text {
	background-color: rgba(120,73,225,0.9);
	width: 25rem;
	margin-top: 6.25rem;
}

.sub-banner .banner-text .text {
	margin: 5rem 3rem 3rem 3rem;
}

.sub-banner .banner-text h2 {
	font-size: 2.25rem;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 1.25rem;
}

.sub-banner .banner-text p {
	font-size: 1.125rem;
	line-height: 1.4;
}

.sub-banner .banner-text p:first-of-type {
	margin-bottom: 1.25rem; 
}

/* Banner Three Home */

#banner-three-home {
	align-items: flex-end;
	justify-content: flex-end;
	background-image: url('../images/fire-photo.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#banner-three-home .banner-text {
	background-color: rgba(173, 74, 226, 0.9);
}

/* Banner Four Home */

#banner-four-home {
	align-items: flex-end;
	justify-content: flex-end;
	background-image: url('../images/jump-photo.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Footer (used on all pages!) */

footer {
	background-image: url('../images/party-photo.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	flex-direction: column;
}

footer nav {
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem 0;
	width: 95%;
}

footer a {
	font-weight: normal;
}

.fa-icons {
	width: 9.375rem;
	justify-content: space-between;
}

.bottom {
	background-color: rgba(0,0,0,0.4);
	flex-direction: column;
	font-size: 0.875rem;
	padding: 5rem 0;
	width: 100%;
}

.contact {
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 55%;
}

.phone-email {
    width: 40%;
    justify-content: space-around;
}

/***** ABOUT PAGE *****/

/* Banner About */
.banner-about {
	border-bottom: 10px solid #794ae2;
	flex-direction: row;
	line-height: 0;
	margin-top: 3.875rem;
	overflow: hidden;
}

.banner-about-image {
	width: 50%;
}

.banner-about-text {
	width: 50%;
}

.banner-about-text .text {
	text-align: center;
	width: 85%;
}

.banner-about-text h1 {
	color: #794ae2;
	font-size: 3.125rem;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 4rem;
}

.banner-about-text p {
	color: #666666;
	font-size: 1.5rem;
	line-height: 1.5;
}

/* Sub banners */
.sub-banner-dark-about {
	background-color: #f2f2f2;
	justify-content: center;
	padding: 4rem 19%;
}

.sub-banner-dark-about .sub-banner-image {
	margin-right: 5rem;
}

.sub-banner-dark-about .text {
	flex-direction: column;
	text-align: center;
}

.sub-banner-dark-about .text h2 {
	color: #794ae2;
	font-size: 2.25rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.sub-banner-dark-about .text p {
	color: #666666;
	font-size: 1.5rem;
	line-height: 1.5;
}

.sub-banner-light-about {
	background-color: #ffffff;
	justify-content: center;
	padding: 4rem 19%;
}

.sub-banner-light-about .text {
	flex-direction: column;
	margin-right: 5rem;
	text-align: center;
}

.sub-banner-light-about .text h2 {
	color: #794ae2;
	font-size: 2.25rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.sub-banner-light-about .text p {
	color: #666666;
	font-size: 1.5rem;
	line-height: 1.5;
}

.heartclock {
	padding-bottom: 2rem;
}

/* Banner Map */
#banner-map {
	align-items: flex-end;
	justify-content: flex-end;
	background-image: url('../images/map.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#banner-map .text {
	margin: 3rem 3rem 4rem 3rem;
}

#banner-map .text p {
	font-size: 1rem;
	line-height: 1.3;
}

#banner-map .text p:first-of-type {
	margin-bottom: 0;
}

#banner-map .text p a {
	font-weight: normal;
}

/***** CLASSES PAGE *****/
/* Classes banner color change */

#banner-classes {
	border-bottom: 10px solid rgba(174, 75, 227, 0.9);
}

#banner-classes .banner-about-text h1 {
	color: rgba(174, 75, 227, 0.9);
}

#classes {
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5.3125rem 1.125rem 2.4rem 1.125rem;
}

.class {
	margin-bottom: 3.75rem;
	width: 25rem;
}

.class h2 {
	color: rgba(174, 75, 227, 0.9);
	font-size: 1.875rem;
	font-weight: bold;
	margin-bottom: 1.125rem;
}

.class .time {
	margin-bottom: 1.125rem;
}

.class .time, .class .description {
	color: #000000;
}

.class .time h4 {
	font-size: 1.125rem;
	font-weight: bold;
}

.class .time p {
	font-size: 1rem;
	line-height: 1.5rem;
}

.class .description p {
	font-size: 0.875rem;
	line-height: 1.7;
}

/*** FACULTY PAGE ***/

/* Faculty color changes */

#banner-faculty p, #faculty p {
	color: #999999;
}

#banner-faculty {
	background-color: #000000;
}

/* Faculty section */
#faculty {
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 5.625rem 7.5rem;
	/*max-width: 1075px*/
}

.staff {
	align-self: flex-start;
	margin-bottom: 6.25rem;
	width: 16.875rem;
}

.staff, .staff .name-title, .staff .likes {
	flex-direction: column;
	justify-content: center;
}

.staff .picture {
	margin-bottom: 1.25rem;
}

.staff .name-title h2 {
	color: #8a54ff;
	font-size: 1.875rem;
	font-weight: bold;
	margin-bottom: 0.625rem;
}

.staff .name-title p {
	font-size: 1.125rem;
	font-weight: bold;
	padding-bottom: .625rem;
}

.staff .likes p {
	line-height: 1.5;
	text-align: center;
}

/*** MEDIA QUERIES ***/

/* Desktop size */
@media only screen and (max-width: 1235px) {
	
	/* CLASSES PAGE */
	#classes .class {
		margin-bottom: 2.25rem;
		width: 18.75rem;
	}

	.class .time p {
		font-size: 1.125rem;
	}

	.class .description p {
		font-size: 1rem;
		line-height: 1.5;
	}

/* Tablet size */
@media only screen and (max-width: 1095px) {
	/* Footer */
	.contact {
		width: 60%;
	}
}

/* Tablet size */
@media only screen and (max-width: 1024px) {
	
	/* HOME PAGE */

	/* banner home */
	#banner-home .banner-text {
		width: 31.25rem;
	}

	.sub-banner .banner-text {
		margin-top: 20rem;
		width: 100%;
	}

	.sub-banner .banner-text .text{
		margin-top: 1.875rem;
		margin-right: 3.4375rem;
		margin-left: 1.875rem;
	}

	.sub-banner .banner-text h2 {
		font-size: 1.875rem;
		line-height: 1.4;
		margin-bottom: 0.625rem;
	}

	.sub-banner .banner-text p {
		font-size: 1rem;
		line-height: 1.4;
	}

	/* Footer */
	footer nav {
		justify-content: center;
		padding: 0.875rem 0;
	}

	.hide {
		display: none;
	}

	.fa-icons {
		width: 5.4375rem;
	}

	.fa-2x {
		font-size: 1rem;
	}

	.bottom {
		font-size: 0.625rem;
		letter-spacing: 0.5px;
		line-height: 1.5;
		padding: 1.875rem 0;
	}

	.contact {
		flex-direction: column;
	}

	.phone-email {
        display: block;
        width: initial;
    }

	/* ABOUT PAGE */
	/* Banner About*/
	.banner-about {
		flex-direction: column;
	}

	.banner-about-image {
		width: 100%;
	}

	#banner-faculty .banner-about-text {
		background-color: rgba(0,0,0,0.5);
	}

	.banner-about-text {
		background-color: #ffffff;
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 2rem 0;
		z-index: 10;
	}

	.banner-about-text .text {
		width: 80%;
	}

	.banner-about-text h1 {
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}

	.banner-about-text p {
		font-size: 1rem;
		line-height: 1.6;
	}

	/* sub banners about */
	.sub-banner-dark-about {
		flex-direction: column;
		padding: 1.875rem 19%;
	}

	.sub-banner-dark-about .sub-banner-image {
		margin-right: 0;
		margin-bottom: 1rem;
		height: 6.25rem;
	}

	.sub-banner-dark-about .sub-banner-image img {
		height: 100%;
		width: auto;
	}

	.sub-banner-dark-about .text h2 {
		font-size: 1.75rem;
	}

	.sub-banner-dark-about .text p {
		font-size: 1rem;
		line-height: 1.6;
	}

	.sub-banner-light-about {
		flex-direction: column-reverse;
		padding: 1.875rem 19%;
	}

	.sub-banner-light-about .sub-banner-image {
		margin-bottom: 1rem;
		height: 6.25rem;
	}

	.sub-banner-light-about .sub-banner-image img {
		height: 100%;
		width: auto;
	}

	.sub-banner-light-about .text {
		margin-right: 0;
	}

	.sub-banner-light-about .text h2 {
		font-size: 1.75rem;
	}

	.sub-banner-light-about .text p {
		font-size: 1rem;
		line-height: 1.6;
	}
	.heartclock {
		padding-bottom: 0;
	}

	/* Map banner */
	#banner-map .banner-text {
		width: 60%;
	}

	#banner-map .text {
		margin: 2rem 2rem 1rem 2rem;
	}

	#banner-map .text p {
		line-height: 1.6;
	}

}

@media only screen and (max-width: 890px) {
	#banner-about {
		background-image: url('../images/workout-photo.png');
	}

	#banner-classes {
		background-image: url('../images/classes-photo.png');
	}

	#banner-faculty {
		background-image: url('../images/faculty-photo.png');
		background-position: left center;
	}

	#banner-faculty .banner-about-text {
		background-color: rgba(0,0,0,0.3);
	}

	.banner-about {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.banner-about-image {
		visibility: hidden;
	}
}

/* Mobile size */
@media only screen and (max-width: 770px) {
	
	/* Navbar */
	header {
		height: 2.5rem
	}

	#brand {
		display: none;
	}

	#brand-mobile {
		display: block;
		margin-left: 0.625rem;
		margin-right: auto;
	}

	header nav ul {
		margin-right: 0.625rem
	}

	header nav ul li {
		padding-right: 2.25rem;
	}

	header nav ul li:last-child {
		padding-right: 0;
	}

	header nav ul li a {
		font-size: 0.75rem;
	}

	/* banner home */
	#banner-home, .banner-about {
		margin-top: 2.5rem;
	}

	#banner-home .banner-text {
		margin-top: 7.125rem;
		width: 18.5rem;
	}

	#banner-home h1 {
		font-size: 1.875rem;
		margin-bottom: 1.625rem;
	}

	#banner-home p {
		font-size: 1rem;
		line-height: 1.6;
		margin-bottom: 3.875rem;
	}

	.sub-banner .banner-text h2 {
		font-size: 1.25rem;
		line-height: 1.2;
	}

	.sub-banner .banner-text p {
		font-size: 1rem;
	}

	.sub-banner .banner-text .text {
		margin: 2rem 1.25rem;
	}

	/*** CLASSES PAGE ***/
	#classes .class {
		margin-bottom: 2.5rem;
		width: 17.5rem;
	}

	.class .time {
		margin-bottom: .625rem;
	}

	.class .time h4 {
		font-size: 1rem;
	}

	.class .time p {
		font-size: .875rem;
		line-height: 1.7;
	}

	/* Faculty Page */
	.staff .name-title h2 {
		font-size: 1.5rem;
	}

	.staff .name-title p {
		font-size: 1rem;
	}

	.staff .likes p {
		font-size: 0.875rem;
		line-height: 1.7;
	}
}

@media only screen and (max-width: 670px) {
	.banner-about-image {
		height: 25rem;
	}
}

@media only screen and (max-width: 600px) {
	#classes {
		justify-content: center;
	}
}